<h1>Admin::Dashboard#show</h1>
<div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
          <th> <h4> Number of products </h4> </th>
          <th> <h4> Number of categories </h4> </th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>
            <h4> <%= @product_count %> </h4>
          </td>
          <td>
            <h4><%= @category_count %> </h4>
          </td>
        </tr>
    </tbody>
  </table>
</div>